.button {
	width: @min-width;
	height: 55px;
	border: none;
	color: @white;
	.neoTech;
	font-size: 24.9px;
	font-weight: 600;
	letter-spacing: 0.7px;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	line-height: 55px;
	padding: 0;
	text-align: center;
	background-color: @orange;

	&:hover {
		background-color: @orange-hover;
	}
}