// Sizes
@desktop: 1365px;
@tablet: 960px;
@portrait: 640px;
@mobile: 320px;

@doc-desktop-padding: 122px;
@doc-tablet-padding: 50px;
@doc-portrait-padding: 20px;

@column-desktop-margin: 350px;
@column-tablet-margin: 150px;

@scrollbar: 20px;

// Desktop
@media (min-width:(@desktop + @scrollbar)) {
	//.message('Desktop');

	.documentation{
		padding: 0 @doc-desktop-padding;
	}
	.column{
		margin: 0 @column-desktop-margin;
	}
}
// Tablet
@media (max-width:(@desktop + @scrollbar)) {
	//.message('Tablet');

	.container {
		width: @tablet;
	}
	.documentation{
		padding: 0 @doc-tablet-padding;
	}
	.column{
		margin: 0 @column-tablet-margin;
	}
}
// portrait
@media (max-width:(@tablet + @scrollbar)) {
	//.message('portrait');

	.container {
		width: @portrait;
	}
	.documentation{
		padding: 0 @doc-portrait-padding;
	}
	.column{
		width: @min-width;
		margin: inherit;
	}
}
// Mobile
@media (max-width:(@portrait + @scrollbar)) {
	//.message('Mobile');

	.container {
		width: @mobile;
	}
	.column{
		margin: 0;
		width: @mobile;
	}
	.input, .button{
		width: @mobile;
	}
}