<!-- partials/column.handlebars -->
<div class="column">
	<h1 class="column__header">Header</h1>
	<p class="column__text">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae voluptatibus eaque voluptate exercitationem libero reprehenderit eos rem voluptatum eum incidunt accusamus quod ipsa unde, deleniti fuga maxime excepturi nostrum temporibus.
	</p>
	<ul class="column__list validation-summary-errors">
		<li class="column__item column__item_error">
			Error 1
		</li>
		<li class="column__item column__item_error">
			Error 2
		</li>
	</ul>
	{{>form inputs=inputsPassword buttonText="Reset"}}
</div>