<div class="documentation">
	<h1 class="documentation__header">
		Terms and Conditions
	</h1>
	<p class="documentation__text documentation__text_centred">
		Last Updated: September 30, 2016
	</p>
	<h2 class="documentation__title">
		1. Contractual Relationship
	</h2>
	<p class="documentation__text">
		These Terms of Use ("Terms") govern the access or use by you, an individual, from within the United States and its territories and possessions of applications, websites, content, products, and services (the "Services") made available in the United States and its territories and possessions by Storgage Inc. and its subsidiaries and affiliates (collectively, "Storgage"). PLEASE READ THESE TERMS CAREFULLY BEFORE ACCESSING OR USING THE SERVICES. In these Terms, the words "including" and "include" mean "including, but not limited to."
	</p>
	<p class="documentation__text">
		Our collection and use of personal information in connection with the Services is as provided in Storgage's Privacy Policy located at <a href="#" class="documentation__link">www.storgage.com/legal/usa/privacy</a>.
	</p>
	<p class="documentation__text">
		USE OF PREMISES AND PROPERTY AND COMPLIANCE WITH LAW. Renter shall store only personal property that belongs to Renter. Because the value of the personal property may be difficult or impossible to ascertain, <strong>Renter agrees that under no circumstances</strong> will the aggregate value of all personal property stored in the Premises exceed, or be deemed to exceed, $1,000 and may be worth substantially less than $1,000. Renter shall not permit any Hazardous Materials (as defined below) to be stored in the Premises or the Property or store any improperly packaged food or perishable goods, flammable materials, explosives 
	</p>
	<h3 class="documentation__sub-title">Lease/Rental Agreement</h3>
	<ul class="documentation__list">
        <li class="documentation__item">
        	fill in any form on the Platform, such as when you register or update the details of your user account, or when you supply ID and other verification information;
        </li>
    </ul>
    <ul class="documentation__list">
        <li class="documentation__item documentation__item_latin">
        	A.	Parts of your public profile page that contain some Personal Information may be displayed in other parts of the Platform to other users for marketing purposes or if you post content in a community forum or other features on the Platform that are visible to the general public.
        </li>
    </ul>
</div>