<div class="form">
	{{#each inputs }}
		<div class="form__row">
			{{>input type=type placeholder=placeholder modifier=modifier }}
		</div>
	{{/each}}
	<div class="form__row">
		{{>button text=buttonText}}
	</div>
</div>