<div class="jumbatron">
	<div class="jumbatron__container">
		<img class="jumbatron__image" src="../img/logotype-white.svg" alt=""></img>
		<h2 class="jumbatron__title">
			On demand storgage space from your neighbors
		</h2>
		<p class="jumbatron__text">
			We’re moving storgage to a better place. Launching this fall, register
			now for early access and a chance to win a year of free storage.
		</p>
		{{>form}}
	</div>
</div>