<footer class="main-footer">
	<ul class="main-footer__list">
		<li class="main-footer__item">
			<a href="#" class="main-footer__link">
				Privacy Policy
			</a>
		</li>
		<li class="main-footer__item">
			<a href="#" class="main-footer__link">
				Terms &amp; Conditions
			</a>
		</li>
	</ul>
	<p class="main-footer__text">&copy; 2016 Storgage, Inc.</p>
</footer>