<header class="main-header">
	<!-- Logo -->
	<h1 class="main-header__logotype">
		<a href="#" class="main-header__link">
			<img src="../img/logotype-orange.svg" alt="Logo" class="main-header__image">
		</a>
	</h1>
</header>