<div class="overviews">
	<h2 class="overviews__title">App overview</h2>
	<ul class="overviews__list">
		{{#each overviews}}
			<li class="overviews__item">
				{{>overview}}
			</li>
		{{/each}}
	</ul>
</div>