<div class="popup">
	<a href="#" class="popup__close"></a>
	<div class="popup__clearfix"></div>
	<div class="popup__container">
		<h2 class="popup__title">{{title}}</h2>
		<p class="popup__text">{{message}}</p>
		{{>social title="Share Storgage"}}
	</div>
</div>